* {
  box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.wrapper {
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

a {
    text-decoration: none;
}

 