.MainInfo {
 background: linear-gradient(to bottom right, #eff6ff, #ffffff);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.Main__Info {
  text-align: center;
}

.info__title {
 text-align: center;
  font-size: 3rem; 
  font-weight: 700; 
  color: #111827; 
  margin-bottom: 1.5rem; 
  line-height: 1;
}

.info__text {
 padding: 11px;
 font-size: 1.25rem;
color: #4b5563;
 margin-bottom: 2rem;
line-height: 1.625;
}

.btn {
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
}


.view__btn {
  border: none;
  padding: 0.75rem 2rem;
  background-color: #2563eb;
  color: #ffffff;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: background-color 0.2s;
}


.info__btn {
padding: 0.75rem 2rem;
  background-color: #ffffff;
  color: #2563eb; 
  border: 2px solid #2563eb;
  border-radius: 0.5rem; 
  font-weight: 500; 
  transition: background-color 0.2s;

}